

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Noto Sans KR', sans-serif!important;
  overflow:hidden
}
.container {
  display: flex;
  height: 100vh;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  background-color: #ffffff;
  border-radius: 5px;
  width: 70px;
  height: auto;
}

.sidebar {
  flex: 0 0 150px;
  padding: 20px;
  border-right: 1px solid #e0e0e0;
  font-size:14px;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* 세로 스크롤이 필요할 때만 스크롤바 표시 */
  max-height: calc(100vh - 40px); /* 최대 높이 계산 (전체 높이에서 padding 값 제외) */
  max-width: 1170px;
}
.sidebar ul {
  list-style-type: none; /* 리스트 스타일 제거 */
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px; /* 각 메뉴 아이템 사이 여백 */
}

.sidebar ul li a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: #000; /* 링크 색상 */
  font-weight: 410; /* 글꼴 두껍게 */
}

.sidebar ul li a:hover {
  color: #6dceff; /* 호버시 링크 색상 변경 */
}

.react-activity-calendar__calendar{
  margin:3px;
}

.flourish-credit{
display: none;
}



.hr-container hr {
  border-top: 1px solid #b6b6b6;
}

.image-container {
  width: 100%;
  object-fit: cover;
}

.cropped-image {
  width: 100%;
  margin: 0 -15px;
  display: block;
  clip-path: inset(2px 2px 0px 2px); /* 상, 우, 하, 좌 순서로 자르기 */
}

.sidebar ul li a.active {
  color: #1e70c2; /* 원하는 색상으로 변경 */
  font-weight: bold; /* 강조 효과 */
}
.disabled {
  pointer-events: none; /* 클릭 불가로 설정 */
  opacity: 0.5; /* 비활성화 효과 */
}
li.nav-item{
  margin-left:10px;
}